.wrap {
  margin-top: 4em;
}

.box {
  color: var(--theme-color-dark);
}

@media (prefers-color-scheme: dark) {
  .box {
    color: var(--theme-color-light);
  }
}

.title {
  margin: 0.5em 0;
}

.snippet {
  line-height: 2;
}
