.wrap {
  margin-top: 8em;
}

.box {
  color: var(--theme-color-dark);
}

@media (prefers-color-scheme: dark) {
  .box {
    color: var(--theme-color-light);
  }
}

.title {
  margin: 0.5em 0;
  font-size: var(--font-size-h1);
}

.snippet {
  line-height: 2;
  font-size: var(--font-size-article);
}
