.wrap {
  text-align: center;
  margin: 4em 0;
}

.container {
  display: block;
  border: solid 1px var(--theme-color-secondary);
  padding: 1rem;
  // sourced: https://codepen.io/navenoc13/pen/YzpXrOg
  background: linear-gradient(
    to top right,
    var(--theme-color-primary) calc(50% - 1px),
    var(--theme-color-secondary),
    var(--theme-color-primary) calc(50% + 1px)
  );
}

.title {
  max-width: 320px;
  width: 80%;
  cursor: pointer;
  fill: var(--theme-color-secondary);
  background: var(--theme-color-primary);
  margin-top: 1rem;
}

.desc {
  max-width: 260px;
  width: 80%;
  color: var(--theme-color-secondary);
  font-size: var(--font-size-sub-title);
  font-family: var(--font-family-sans-serif);
  margin: 1rem auto;
  background: var(--theme-color-primary);
}
