.wrap {
  margin-top: 3em;
  text-align: center;
  padding-bottom: 1em;
}

.text {
  color: var(--theme-color-dark);
  font-size: 0.8rem;
}

.icon_wrap {
  margin-bottom: 1rem;
}

.icon {
  width: auto;
}

@media (prefers-color-scheme: dark) {
  .text {
    color: var(--theme-color-light);
  }
}
