.wrap {
  margin-top: 3em;
  text-align: center;
  padding-bottom: 1em;
}

.text {
  color: var(--theme-color-secondary);
  font-size: 0.8rem;
}

.icon_wrap {
  margin-bottom: 1rem;
}

.icon {
  width: auto;
}
