:root {
  --theme-color-primary: #f2f2f2;
  --theme-color-secondary: #1d1d1d;
  --accent-blue: #6890c4;
  --accent-light-blue: #88abda;
  --accent-purple: #8868c4;
  --font-size-h1: 1.6rem;
  --font-size-h2: 1.4rem;
  --font-size-article: 1.1rem;
  --font-size-header-xl: 1.6rem;
  --font-size-header-md: 1.6rem;
  --font-size-header-xs: 1.3rem;
  --font-family-code: 'Courier New', monospace;
  --font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --margin-button: 0 0.5em;
  --animate-duration-fast: 0.1s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-primary: #1d1d1d;
    --theme-color-secondary: #f2f2f2;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  transition: outline var(--animate-duration-fast) ease-in-out;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  background: var(--theme-color-primary);
  color: var(--theme-color-secondary);
  font-family: var(--font-family-sans-serif);
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: var(--theme-color-primary);
    color: var(--theme-color-secondary);
  }
}

*:focus-visible {
  outline: solid 4px var(--accent-light-blue);
}

a {
  text-decoration: none;
  color: var(--accent-blue);
  word-break: break-all;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: var(--font-size-h2);
}

h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-size: var(--font-size-article);
}

p {
  margin: 1rem 0;
  font-size: var(--font-size-article);
}

code {
  font-family: var(--font-family-code);
  padding: 4px;
  border-radius: 4px;
}

img {
  max-width: 560px;
  width: 100%;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}

blockquote > p {
  font-style: italic;
}

/* youtube embed */
iframe {
  max-width: 560px;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 880px;
  height: 100%;
  width: 98%;
  padding: 2em;
}
