* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --theme-color-light: #f2f2f2;
  --theme-color-dark: #1d1d1d;
  --accent-blue: #6890c4;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  background: var(--theme-color-light);
  color: var(--theme-color-dark);
  font-family: 'Noto Sans JP', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: var(--theme-color-dark);
    color: var(--theme-color-light);
  }
}

a {
  text-decoration: none;
  color: var(--accent-blue);
}

h1 {
  font-size: 1.2rem;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

p,
ul {
  margin-bottom: 1em;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 4px;
  border-radius: 4px;
}

.container {
  margin: auto;
  max-width: 800px;
  height: 100%;
  width: 95%;
  padding: 2em;
}
