* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --theme-color-light: #f2f2f2;
  --theme-color-dark: #1d1d1d;
  --accent-blue: #6890c4;
  --font-size-h1: 1.3rem;
  --font-size-h2: 1.2rem;
  --font-size-article: 1rem;
  --font-size-header-xl: 2rem;
  --font-size-header-md: 1.6rem;
  --font-size-header-xs: 1.3rem;
  --font-family-code: 'Source Code Pro', monospace;
  --font-family-sans-serif: 'Noto Sans JP', sans-serif;
  --margin-button: 0 0.5em;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  background: var(--theme-color-light);
  color: var(--theme-color-dark);
  font-family: var(--font-family-sans-serif);
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: var(--theme-color-dark);
    color: var(--theme-color-light);
  }
}

a {
  text-decoration: none;
  color: var(--accent-blue);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: var(--font-size-h2);
}

h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-size: var(--font-size-article);
}

p,
ul {
  margin-bottom: 1em;
  font-size: var(--font-size-article);
}

code {
  font-family: var(--font-family-code);
  padding: 4px;
  border-radius: 4px;
}

.container {
  margin: auto;
  max-width: 800px;
  height: 100%;
  width: 95%;
  padding: 2em;
}
